# Estatística básica con Python
## Capítulo 1: Medidas de tendencia
### Media, mediana, moda e cuartiles

**AVISO**: Para os exemplos empregamos numpy e pandas, para instalalos dende conda

In [1]:
pesos_estudantes = [87, 83, 90, 65, 58, 67, 88, 87, 90, 89, 88]
total_pesos = 0
for peso in pesos_estudantes:
    total_pesos += peso

media_pesos = total_pesos / len(pesos_estudantes)
print(media_pesos)

81.0909090909091

In [2]:
pesos_estudantes = [87, 83, 90, 65, 58, 67, 88, 87, 90, 89, 88]
media_pesos = sum(pesos_estudantes) / len(pesos_estudantes)
print(media_pesos)

81.0909090909091

In [3]:
from statistics import mean

pesos_estudantes = [87, 83, 90, 65, 58, 67, 88, 87, 90, 89, 88]
media_pesos = mean(pesos_estudantes)
print(media_pesos)

81.0909090909091

In [4]:
import numpy

pesos_estudantes = [87, 83, 90, 65, 58, 67, 88, 87, 90, 89, 88]
media_pesos = numpy.mean(pesos_estudantes)
print(media_pesos)

81.0909090909091

In [5]:
import pandas as pd

datos_estudantes = ({
    'Nomes':["Fulano", "Mengana", "Zutano", "Perengana"],
    'Pesos':[83,45,68,97],
    'Notas':[7,8,9,5]
})

# No funciona si lo almacenas como un set si no esta ordenado
# datos_estudantes = ({
#     'Nomes':{"Fulano", "Mengana", "Zutano", "Perengana"},
#     'Pesos':{83,45,68,97},
#     'Notas':{7,8,9,5}
# })

df = pd.DataFrame(datos_estudantes)
df

       Nomes  Pesos  Notas
0     Fulano     83      7
1    Mengana     45      8
2     Zutano     68      9
3  Perengana     97      5